<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimización Tareas</title>
</head>
<body>
    
    <div id="app">
        <!--Insertar_Tarea-->
        <input type="text" v-model="nueva_Tarea">
        <button v-on:click="agregarTarea">Agregar</button>
        <!--Visualizar_Tarea-->
        <ul>
            <li v-for="tarea of Tareas">
                {{tarea.nombre}}
            </li>
        </ul>

    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="1.js"></script>
</body>
</html>





